@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfbfbf;
    font-size: 16px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 20px;
    
}

h1, h2, h3, h4{
    margin: 0px;
}

h1{
    color: #ffffff;
    text-align: center;
    padding: 70px 0px;
    font-family: 'Orbitron', sans-serif;
}

h2, h3, h4{
    color: #62bc00;

}

h2{
    border-bottom: solid 3px #62bc00;
}

h1 abbr,
h2 abbr,
h3 abbr,
h4 abbr{
    text-decoration: none;

}

.cover-image {
    background-image: url("img/cabecera.png");
    height: 200px;

}

nav ul{
    margin: 0;
    padding: 0px;
    text-align: center;
}

nav li {
    display: inline-block;

}

nav a {
    width: 15%;
    padding: 15px 100px;
    background-color: #62bc00;
    color: #ffffff;
    border: solid 1px #000000;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    

}

nav a:hover {
    background-color: #ffffff;
    color: #000000

}

article {
    margin: 20px;
}
.image-responsive {
    max-width: 1000px;
    width: 100%;
}

figcaption {
    color: #949090;
    font-style: italic;

}

pre {
    border: solid 1px #000000;
}

pre code {
    color: red;
    font-size: 14px;
}

code {
    color: #949090;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #62bc00;
}

a:hover {
    color: #284d00;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #000000 !important;
    padding: 80px;

}

.text-footer {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    font-weight: bold;
       
}